<nav
  aria-label="Main navigation"
  class="bg-text h-full rounded-4xl flex text-primary items-center px-5"
>
  <ul class="flex gap-4 items-center justify-between text-[11px] w-full">
    <li class="">
      <a
        (click)="vibrateOnClick()"
        routerLink="/hubs"
        [ngClass]="{ 'text-rose-400': isRouteActive('/hubs') }"
        class="flex items-center justify-center flex-col hover:text-rose-400 transition-colors space-y-2"
        title="Go to Hubs page"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-computer-icon lucide-computer"
        >
          <rect width="14" height="8" x="5" y="2" rx="2" />
          <rect width="20" height="8" x="2" y="14" rx="2" />
          <path d="M6 18h2" />
          <path d="M12 18h6" />
        </svg>

        <span> Hubs </span>
      </a>
    </li>

    <li>
      <a
        (click)="vibrateOnClick()"
        routerLink="/notifications"
        [ngClass]="{ 'text-rose-400': isRouteActive('/notifications') }"
        class="flex flex-col items-center hover:text-rose-400 transition-colors space-y-2"
        title="Go to Notification page"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-bell-dot-icon lucide-bell-dot"
        >
          <path d="M10.268 21a2 2 0 0 0 3.464 0" />
          <path
            d="M13.916 2.314A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.74 7.327A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673 9 9 0 0 1-.585-.665"
          />
          <circle cx="18" cy="8" r="3" />
        </svg>

        <span>Notifications</span></a
      >
    </li>
    <li>
      <a
        (click)="vibrateOnClick()"
        routerLink="/profile"
        [ngClass]="{ 'text-rose-400': isRouteActive('/profile') }"
        class="flex flex-col items-center justify-center hover:text-rose-400 transition-colors space-y-2"
        title="Go to profile page"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-user-round-icon lucide-user-round"
        >
          <circle cx="12" cy="8" r="5" />
          <path d="M20 21a8 8 0 0 0-16 0" />
        </svg>
        <span>Profile</span></a
      >
    </li>
  </ul>
</nav>
